@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --primary-bg-color: #1f1f2f;
    --secondary-bg-color: #EC3548;  
    --tertiary-bg-color: #f9f9f8;
    --tertiary2-bg-color: #DCDCE6; 
    --primary-font-color: #1f1f2f;
    --secondary-url-color: #EC3548;

   
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fade-in {
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    -webkit-transform: translateZ(-80px);
            transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    opacity: 1;
  }
}
.fade-in-fwd {
    -webkit-animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

body {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: normal;
    margin: 0;
    color: var(--primary-font-color);
}

h1 {
    font-size: 48px;
    font-family: 'Muli', sans-serif;
    line-height: 58px;
    z-index: 3;
}
h2 {
    font-size: 36px;
    line-height: normal;
    font-family: 'Muli', sans-serif;
}
h3 {
    font-size: 32px;
    line-height: normal;
    font-family: 'Muli', sans-serif;
}
h4 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 0;
    letter-spacing: 0.5px;
    line-height: normal;
}

h5 {
    font-size: 1em;
}
p {
    z-index: 3;
}

a {
    text-decoration: none;
    color: var(--secondary-url-color);
}
a.button {
  box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 2px solid var(--primary-font-color);
    border-radius: 2px;
    color: var(--primary-font-color);
    cursor: pointer;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 16px;
    margin: 40px 0px;
    width: 240px;
    padding: 10px 48px;
    text-decoration: none;
    text-align: center;
    font-weight: 700;
}
a.button:hover {
  color: #ffffff;
  outline: 0;
}
.filled {
  border-color: var(--primary-font-color);
  border-radius: 0;
  color: var(--primary-font-color);
  position: relative;
  overflow: hidden;
  z-index: 1;
  -webkit-transition: color 150ms ease-in-out;
  transition: color 150ms ease-in-out;
}
.filled:after {
  content: '';
  position: absolute;
  display: block;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 0;
  height: 100%;
  background: var(--primary-font-color);
  z-index: -1;
  -webkit-transition: width 150ms ease-in-out;
  transition: width 150ms ease-in-out;
}
.filled:hover {
  color: #fff;
}
.filled:hover:after {
  width: 110%;
}

.image-captions
{
    opacity: 0.5;
    font-style: italic;
    text-align: center;
    margin-top: -32px;
    font-size: 14px;
}

.center-align {
    text-align: center;
}

/* Navbar -------------------------- */

.navbar {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    max-width: 1400px;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
}


.navleft img {
    width: 32px;
    height: auto;
    cursor: pointer;
    margin-top: 2px;
}


.navright {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
}

.navright a {
    text-decoration: none;
    color: var(--primary-font-color);
    margin: -4px 16px 0 18px;
}

.navright a:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.navleft a:hover,
.navbarLight .navleft a:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.navbarDark,
.navbarTransp,
.navbarTransp2,
.navbarLight {
    top: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: transparent;
    text-align: center;
    margin: 0;
    padding: 10px 0px;
    box-sizing: border-box;
    color: var(--primary-font-color);
    z-index: 200;
}
.navbarTransp {
    opacity: 0;
}
.navbarTransp2 {
    position: absolute;
}
.navbarLight {
    background-color: #ffffff;
    color: var(--primary-font-color);
}
.navbarDark {
    color: #ffffff;
    position: absolute;
}
.navbarDark a {
    color: #ffffff;
}



.navbarDark .navIconLight,
.navbarTransp .navIconDark,
.navbarTransp2 .navIconDark {
    display: none;
}

.navbarLight .navIconDark {
    display: none;
}

/* Footer ------------------------------*/
.footer {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    bottom: 0; 
    
}

.footerright img {
    width: 26px;
    height: auto;
    cursor: pointer;
    margin: 8px 0 0 24px;
}
.footerGray {
    width: 100%;
    height: auto;
    background: var(--tertiary-bg-color);
    color: var(--primary-font-color);
    margin: 0 auto;
    z-index: 200;
}
.footerTransp {
    width: 100%;
    height: auto;
    background: transparent;
    color: var(--primary-font-color);
    margin: 0 auto;
    z-index: 200;
}
.footerDark {
    width: 100%;
    height: auto;
    background: var(--primary-bg-color);
    color: #ffffff;
    margin: 0 auto;
    z-index: 200;
}





/* Container -------------------------- */

.container {
    position: relative;
    width: 100%;
    max-width: 1120px;
    display: block;
    box-sizing: border-box;
    padding: 120px 44px;
    background: transparent;
    margin: 0 auto;
    height: auto;
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation-delay: 0.6s;
}




/* Images ---------------------------- */
img {
    width: 100%;
    height: auto;
}

.fullwidth1,
.fullwidth2 {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.fullwidth2 {
    background-color: var(--tertiary-bg-color);
    padding: 0 0 80px 0;
}



/* SVG ----------------------------*/

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}


    
.star {
    fill: none;
    stroke: #ffffff;
    stroke-width: 0.5px;
    width: 100%;
    opacity: 0.4;

/* Stroke-dasharray property */
/*     stroke-dasharray: 50; 
    stroke-dashoffset: 50; */
/*     stroke-dashoffset: 500px; */
/*     stroke-dasharray: 1353px;
    stroke-dashoffset: 1353px; */
/*    animation: move 2s linear infinite;      */
   animation: move 2s linear; 
   animation-fill-mode: forwards;
}

@keyframes move {
    100% {
        stroke-dashoffset: 0;
    }
}


/* Home -------------------------- */
header{
    position: relative;
    width: 100%;
    height: auto;
    background-color: #ffffff;
}
.hero-background,
.hero-background0,
.hero-background.gray,
.hero-background.tertiary,
.hero-background.gradient {
    height: 64vh;
    width: 100%;
    right: 0;
    padding: 34px;
    box-sizing: border-box;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    align-items: center;
    background: var(--primary-bg-color);
    -webkit-animation: fade-in-fwd 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-fwd 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.hero-background0
{
    height: 100vh;
}
.hero-background.gray,
.hero-background.tertiary,
.hero-background.gradient  {
    background: var(--tertiary2-bg-color);
    color: var(--primary-font-color);
    height: 42vh;
    padding: 120px 34px;
}
.hero-background.tertiary {
    background: var(--tertiary-bg-color);
}
.hero-background.gradient {
    background: rgb(201,160,220);
    background: linear-gradient(45deg, rgba(201,160,220,0.2) 31%, rgba(238,171,160,0.2) 100%);
}
.hero-background h1,
.hero-background.gray h1 {
    margin-bottom: 16px;
    text-align: center;
    -webkit-animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation-delay: 0.2s;
}
.hero-background p,
.hero-background.gray p,
.hero-background.tertiary p {
    max-width: 620px;
    font-size: 16px;
    margin: 0;
    -webkit-animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation-delay: 0.2s;
    text-align: center;
}
.hero,
.hero-0,
.contact {
    position: relative;
    height: 64vh;
    width: 100%;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: row;
}
.hero-0
{
    height: 100vh !important;
}
.hero.project-hero {
    height: 56vh;
    
}
.hero svg,
.hero-0 svg {
    position: absolute;
    margin: 36px auto 0 auto;
    width: 90%;
    max-width: 720px;
}
.hero-0 svg {
    max-height: 90vh;
    }

.text-highlight {
    position: static;
    width: 286px;
    height: 20px;
    background: var(--secondary-bg-color);
    margin-top: -60px;
    margin-bottom: 32px;
    z-index: 1;
}



.project-grid {
   display: flex;
   display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    max-width: 1120px;
    margin: 80px auto;
    flex-wrap: wrap;
    -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation-delay: 0.6s;

}
.project-grid-item {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    flex-direction: column;
    width: 27%;
    margin: 0 16px 60px 16px;
    
}

.projects img {
    width: 100%;
}

.projects {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
}


.project-link h5,
.project-grid-item h5 {
    margin: 16px 0 8px 0;
    line-height: 24px;
}

.project-link,
.project-link2 {
    width: 100%;
    height: 100%;    
    color: var(--primary-font-color);
}
.project-link:hover {
    transition: 0.3s;
    opacity: 0.7; 
    color: rgba(31, 31, 44, 0.7)
}

.aboutme {
    -webkit-animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    /* padding: 0px calc(28% - 88px); */
    width: 80%;
    max-width: 1120px;
    margin: 120px auto;
}

/* Case Studies -------------------------*/
    .hero.project-hero {
        height: auto;
    }
    
    .projects1 img.project-hero,
    .projects1 img.project-hero,
    .projects1 img.project-hero {
        position: relative;
        margin: -60px auto 0 auto;
        max-width: 640px;
        -webkit-animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-fwd 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation-delay: 0.2s;
    }


#white-divider {
    height: 1px;
    background: #ffffff;
    position: relative;
    width: 80px;
    margin: 60px auto;
}

.project-summary-grid {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    justify-content: space-between;
}
.project-summary-left {
    flex: 1.5;
    padding-right: 40px;
    justify-content: flex-start;
}
.project-summary-right {
    flex: 1;
    max-width: 240px;
    display: flex;
    flex-direction: column;
    padding-left: 40px;
}
.project-summary-right-item {
    margin-bottom: 12px;
}
.project-summary-right p {
    opacity: 0.7;
    margin: 8px 0;
    font-size: 14px;
    line-height: 24px;
}

.projects1,
.projects2,
.projects3 {
    height: auto;
    position: relative;
    padding: 0px calc(28% - 88px);
    z-index: 3;
}

.projects1 .container,
.projects2 .container,
.projects3 .container {
    text-align: left;
}
.projects2 {
    background: var(--tertiary-bg-color);
}

.projects3 {
    background: var(--primary-bg-color);
    color: #ffffff;
}
.projects1 .container h1,
.projects2 .container h1,
.projects3 .container h1,
.projects1 .container h3,
.projects2 .container h3,
.projects3 .container h3,
.splitscreen1 h3,
.splitscreen2 h3 {
    margin-top: 0;
}
.projects3 .container h3 {
    color: #ffffff;
}
.projects1 .project-grid {
    width: 100%;
    justify-content: space-between;
    margin: 60px 0 0 0;
}
.projects1 .project-grid .project-grid-item {
    margin: 0;
    width: 30%;
    
}
.projects1 .project-grid img {
    width: 100%;
    margin: 16px 0px;
}
.projects1 .project-grid span {
    display: block;
    margin-top: 2px;
    font-size: 14px;
    opacity: 0.7;
}


.projects1 table,
.projects2 table {
    text-align: left;
    width: 100%;
    max-width: 480px;
    margin: 56px auto;
    line-height: 18px;
    font-size: 0.9em;
}
.projects1 tr,
.projects2 tr {
    height: 46px;
}
.projects1 th,
.projects1 td,
.projects2 th,
.projects2 td  {
    border-bottom: 1px solid #e1e1e1;
}
.projects1 img,
.projects1 video,
.projects2 img,
.projects2 video,
.projects3 img,
.projects3 video {
    width: 90%;
    margin: 60px auto;
    display: block;
}


.project-table {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
}
.project-table-left {
    flex: 1.5;
}
.project-table.problems img {
    width: 100%;
    max-width: 80px;
    margin: 0 auto;
}
.project-table.solutions img {
    max-width: 380px;
    margin: 0 auto;
}

.project-table-right {
    flex: 2;
    padding-left: 48px;
}
.project-table-right span {
    display: block;
    margin-top: 2px;
    font-size: 14px;
    opacity: 0.7;
}

.projects1 .inline-image-list,
.projects2 .inline-image-list {
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
    flex: 1;
    margin-right: 24px;
}
.projects1 .inline-image-list p,
.projects2 .inline-image-list p {
    margin: 5px 0 4px 16px;
    font-weight: bold;
    line-height: 24px;
}

.projects1 .inline-image-list img,
.projects2 .inline-image-list img {
    margin: 0; 
    height: 40px; 
    width: 40px; 
    vertical-align: middle;
}


.quotes,.featured-quotes {
    color: #57577C;
    opacity: 0.8;
    text-align: center;
}
.featured-quotes {
    font-size: 24px;
    line-height: 36px;
    max-width: 736px;
    margin: 24px auto;
}
.quotes > ul {
    list-style: none;
    display: block;
    margin: 20px auto;
    padding: 0;
}
.quotes > ul > li {
    display: inline-block;
    margin: 0 20px;
    padding: 0;
    font-weight: bold;
}

ul.checklist {
    text-align: left;
    list-style: none;
}
ul.checklist > li {
    height: 46px;
    list-style-position: outside;
}
ul.checklist > li > p {
    margin: 0;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: 28px;
}
ul.checklist > li::before {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    content: '';
    height: 0.75rem;
    width: 0.75rem;
    margin-right: 0.5rem;
    background-color: #bdbdbd;
}
ul.checklist > li.checkmark::before {
    height: 30px;
    width: 30px;
    background: url(../images/icon_checkmark.svg) center no-repeat;
}
ul.checklist > li.xmark::before {
    height: 30px;
    width: 30px;
    background: url(../images/icon_xmark.svg) center no-repeat;
}

ul.default-bullets,
ol.default-bullets {
    padding: 12px 40px;
}
ul.default-bullets > li,
ol.default-bullets > li {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 28px;
    opacity: 0.7;
}
ol.default-bullets {
    padding: 12px 12px;
    counter-reset: any-name;
    list-style: none;
}

ol.default-bullets > li:before {
    content: counter(any-name);
    height: auto;
    width: auto;
    line-height: 40px;
    margin-right: 20px;
    box-sizing: border-box;
    color: var(--primary-font-color);
    padding: 0px 10px;
    opacity: 0.6;
    font-size: 16px;
    font-weight: bold;
    border-right: solid 1px var(--primary-font-color);
}

ol.default-bullets > li {
    margin-bottom: 12px;
    counter-increment: any-name;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    align-items: center;
}
.splitscreen1,
.splitscreen2 {
    position: relative;
    display: flex;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    box-sizing: border-box;
    padding: 60px 10%;
    height: auto;
    justify-content: space-around;
    background: #ffffff;
    align-items: center;
    }

.splitscreen1 .split-left,
.splitscreen2 .split-left,
.splitscreen1 .split-right,
.splitscreen2 .split-right {
    width: 100%;
    max-width: 640px;
    box-sizing: border-box;
    padding: 48px;
}

.splitscreen2 {
    background: var(--tertiary-bg-color);
}

.blurb
{
    max-width: 540px;
}

/*split screen*/
@media (max-width: 1200px){
   
       /*case studies*/
    .splitscreen2 ul.checklist {
        padding-left: 10px;
    }
    .splitscreen2 ul.checklist > li {
        height: 32px;
    }
    .splitscreen2 ul.checklist > li > p {
        max-width: 280px;
        font-size: 12px;
        line-height: 16px;
    }

    .contact-left-content {
        margin-left: 20%;
        padding-right: 60px;
    }

    .contact-right-content {
        margin-right: 20%;
    }
}
@media (max-width: 955px) { 
    
    
    ul.default-bullets, ol.default-bullets {
        padding: 0 24px;
    }

    /*----Home Page styles ---*/

    

    /*Projects ------*/
    .splitscreen1,
    .splitscreen2 {
        flex-direction: column;
        padding: 120px calc(25% - 88px);
    }
    .splitscreen1 .split-left,
    .splitscreen2 .split-left,
    .splitscreen1 .split-right,
    .splitscreen2 .split-right {
        width: 100%;
        padding: 44px;
    }
}
@media (min-width: 955px) {
 

    
}
@media (max-width: 768px) {
    .project-grid-item {
        width: auto;
    }
    .project-table {
        flex-direction: column;
        align-items: center;
    }

    .project-table-right {
        padding-left: 0;
        margin-top: 48px;
    }
    .project-table.problems img,
    .project-table.solutions img {
        width: 90%;
        min-width: 80px;
        margin: 0 auto;
    }   
    .project-summary-grid {
        flex-direction: column;
    }
    .project-summary-left {
        padding-right: 0;
    }
    .project-summary-right {
        flex: 1;
        max-width: none;
        display: flex;
        flex-direction: row;
        padding-left: 0;
        margin-top: 24px;
    }
    .project-summary-right-item {
    margin-bottom: 12px;
    flex: 1;
    margin-right: 12px;
    }
}
@media (max-width: 600px) {
    .hero {
        height: auto;
    }
    .hero.project-hero {
        height: auto;
    }
    .hero-background.gray {
        height: auto;
        padding: 120px 34px;
    }
    .projects1 img.project-hero,
    .projects1 img.project-hero,
    .projects1 img.project-hero {
        position: relative;
        margin: -60px auto 0 auto;
    }
    .project-summary-right {
        line-height: normal;
    }
    .container {
        padding-right: 40px;
        padding-left: 40px;
    }
    .projects1,
    .projects2,
    .projects3 {
    height: auto;
    padding: 0px;
    }
    .projects .container {
        padding: 0px 40px;
    }
    .project-hero2 {
        height: 500px;
      }
    
    .navbar,
    .footer {
        width: 90%;
        min-width: 100px;
    }
    .footerright img {
    margin: 8px 0 0 14px;
    }
   
   
    /*case studies*/
    ul.checklist {
        padding-left: 10px;
    }
    ul.checklist > li {
        height: 32px;
    }
    ul.checklist > li > p {
        max-width: 280px;
        font-size: 12px;
        line-height: 16px;
    }
    .projects1 table {
    text-align: left;
    width: 280px;
    margin: 56px auto;
    line-height: 18px;
    font-size: 0.9em;
    }
    .projects1 th, .projects1 td {
    font-size: 12px;
    width: 100px;
    text-align: left;
    padding: 0 0 0 20px;
    }
    ul.default-bullets, ol.default-bullets {
    padding: 0;
    }
}