:root {
    --primary-bg-color: #1f1f2f;
    --secondary-bg-color: #EEABA0;  
    --tertiary-bg-color: #f9f9f8;
    --primary-font-color: #1f1f2f;
    --secondary-url-color: #df5f4a;

   
}
@-webkit-keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-right {
  0% {
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

.fade-in-right {
    -webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
@-webkit-keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-left {
  0% {
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
.fade-in-left {
    -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

body {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    line-height: 32px;
    font-weight: normal;
    margin: 0;
    color: var(--primary-font-color);
}



/* Font styles ------------------ */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Muli:ital,wght@0,400;0,700;1,400;1,700&display=swap');

h1 {
    font-size: 48px;
    font-family: 'Muli', sans-serif;
    line-height: 58px;
}
h2 {
    font-size: 36px;
    line-height: normal;
    font-family: 'Muli', sans-serif;
}
h3 {
    font-size: 32px;
    line-height: normal;
    font-family: 'Muli', sans-serif;
}
h4 {
    font-size: 14px;
    text-transform: uppercase;
    font-weight: lighter;
    margin: 0;
    letter-spacing: 0.5px;
    line-height: normal;
}

h5 {
    font-size: 1em;
}

a {
    text-decoration: none;
    color: var(--secondary-url-color);
}
a.outline {
    display: block;
    position: relative;
    margin: 32px auto;
    text-decoration: none;
    color: var(--primary-font-color);
    border: solid 1px var(--primary-font-color);
    text-align: center;
    padding: 6px 48px;
    vertical-align: middle;
    max-width: 200px;
    height: 48px;
    box-sizing: border-box;
    border-radius: 2px;
}
a.outline:hover {
    transition: 0.2s;
    background: var(--primary-font-color);
    color: #ffffff;
    opacity: 1;
}

a:hover {
    transition: 0.3s;
    opacity: 0.7;
}
.image-captions
{
    opacity: 0.5;
    font-style: italic;
    text-align: center;
    margin-top: -32px;
    font-size: 14px;
}

.center-align {
    text-align: center;
}

/* Navbar -------------------------- */

.navbar {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    max-width: 1400px;
    margin: auto;
    flex-wrap: wrap;
    align-items: center;
}


.navleft img {
    width: 32px;
    height: auto;
    cursor: pointer;
    margin-top: 2px;
}


.navright {
    display: flex;
    justify-content: space-between;
}
.navright a {
    text-decoration: none;
    color: var(--primary-font-color);
    margin: -4px 16px 0 18px;
}

.navright a:hover {
    opacity: 0.7;
    transition: 0.3s;
}

.navleft a:hover,
.navbarLight .navleft a:hover {
    opacity: 0.5;
    transition: 0.3s;
}

.navbarDark,
.navbarTransp,
.navbarTransp2,
.navbarLight {
    top: 0;
    position: fixed;
    width: 100%;
    height: 60px;
    background-color: transparent;
    text-align: center;
    margin: 0;
    padding: 10px 0px;
    box-sizing: border-box;
    color: var(--primary-font-color);
    z-index: 200;
}
.navbarTransp {
    opacity: 0;
}
.navbarTransp2 {
    position: absolute;
}
.navbarLight {
    background-color: #ffffff;
    color: var(--primary-font-color);
}
.navbarDark {
    background-color: var(--primary-bg-color);
    color: #ffffff;
}


.navbarDark .navIconLight,
.navbarTransp .navIconDark,
.navbarTransp2 .navIconDark {
    display: none;
}

.navbarLight .navIconDark {
    display: none;
}

/* Footer ------------------------------*/
.footer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: center;
    bottom: 0; 
    
}

.footerright img {
    width: 26px;
    height: auto;
    cursor: pointer;
    margin: 8px 0 0 24px;
}
.footerGray {
    width: 100%;
    height: auto;
    background: var(--tertiary-bg-color);
    color: var(--primary-font-color);
    margin: 0 auto;
    z-index: 200;
}
.footerDark {
    width: 100%;
    height: auto;
    background: var(--primary-bg-color);
    color: #ffffff;
    margin: 0 auto;
    z-index: 200;
}





/* Container -------------------------- */

.container {
    position: relative;
    width: 100%;
    max-width: 1120px;
    display: block;
    box-sizing: border-box;
    padding: 120px 44px;
    background: transparent;
    margin: 0 auto;
    height: auto;
}




/* Grid ---------------------------- 
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; 
}*/

/* split screen
.splitscreen2 {
    position: relative;
    display: block;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    height: auto;
    display: table;
    padding: 80px 10% !important;
    background: #F9F9FB;

}
.six.columns {
    float: none;
    padding: 0;
    margin-left: 0;
}
.six.columns img {
    width: 100%;
    margin: 0px auto;
    display: block;
}
.six.columns h5 {
   margin: 80px 0 0 0;
}
.six.columns h4 {
   margin: 0 0 20px 0;
} */



/* Images ---------------------------- */
img {
    width: 100%;
    height: auto;
}

.fullwidth1,
.fullwidth2 {
    width: 100%;
    max-width: 100%;
    height: auto;
}
.fullwidth2 {
    background-color: var(--tertiary-bg-color);
    padding: 0 0 80px 0;
}




/* Home -------------------------- */
header{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
}
.color-backdrop {
    position: absolute;
    height: 100vh;
    min-width: 300px;
    width: 33vw;
    right: 0;
    top: 0;
    background: var(--secondary-bg-color);

    -webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;

}
.hero {
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
}
.hero-left {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 60%;
}
.hero-left-content {
    margin-left: 44%;
    padding-right: 44px;
    max-width: 432px;
    -webkit-animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-left 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation-delay: 0.5s;
}
.hero-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
}
.hero-right-content {
    display: flex;
    margin-right: 44%;
    height: 100%;
    align-items: center;
}
.photo-backdrop {
    height: 508px;
    width: 360px;
    background: var(--primary-font-color);
    margin: 24px 0 0 -24px;
    position: absolute;
    -webkit-animation: fade-in-right 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-right 0.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            
}
.hero-photo {
    height: 508px;
    width: 360px;
    background: url(../images/home/hero_photo3.png) center no-repeat;
    background-size: 361px auto;
    z-index: 5;
    -webkit-animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation: fade-in-right 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
            animation-delay: 0.5s;
}

.text-highlight {
    position: static;
    width: 286px;
    height: 20px;
    background: var(--secondary-bg-color);
    margin-top: -60px;
    margin-bottom: 32px;
    z-index: 1;
}



.project-grid {
   display: flex;
    justify-content: space-between;
    flex-direction: row;
    width: 80%;
    max-width: 1120px;
    margin: auto;
    flex-wrap: wrap;

}
.project-grid-item {
    display: flex;
    flex-direction: column;
    width: 27%;
    margin: 0 16px 60px 16px;
    
}

.projects img {
    width: 100%;
}

.projects {
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
}


.project-link h5,
.project-grid-item h5 {
    margin: 16px 0 8px 0;
    line-height: 24px;
}

.project-link {
    width: 100%;
    height: 100%;    
    color: var(--primary-font-color);
}
.project-link:hover {
    transition: 0.3s;
    opacity: 0.7; 
    color: rgba(31, 31, 44, 0.7)
}


#contact {
    text-align: center;
    background: var(--tertiary-bg-color);
    height: auto;
}


/* Case Studies -------------------------*/
.project-hero2 {
    height: 72vh;
    width: 100%;
}
.project-hero2.hero-insights {
    background: url(../images/insights/hero-insights.png) center no-repeat;
    background-size: cover;
    background-color: #F9F9FB;
}
.project-hero2.hero-mapmeta {
    background: url(../images/mapmeta/hero-mapmeta.png) center no-repeat;
    background-size: cover;
    background-color: #F9F9FB;
}
.project-hero2.hero-chameleon {
    background: url(../images/chameleon/hero-chameleon.png) center no-repeat;
    background-size: cover;
    background-color: #F9F9FB;
}
.project-hero2.hero-comparison {
    background: url(../images/comparison-shopper/hero-comparison.png) center no-repeat;
    background-size: cover;
    background-color: #9395AF;
}
.project-hero2.hero-voyat-landing {
    background: url(../images/voyat-website/hero-voyat-landing.png) center no-repeat;
    background-size: cover;
    background-color: #9395AF;
}
.project-hero2.hero-voyat-branding {
    background: url(../images/voyat/hero-voyat-branding.png) center no-repeat;
    background-size: cover;
    background-color: #ffffff;
}
.project-hero2.hero-intent-swag {
    background: url(../images/intent-swag/hero-intent-swag.png) center no-repeat;
    background-size: cover;
    background-color: #ffffff;
}
.project-hero2.hero-flytabs {
    background: url(../images/flytabs/hero-flytabs.png) center no-repeat;
    background-size: cover;
    background-color: #ffffff;
}

#white-divider {
    height: 1px;
    background: #ffffff;
    position: relative;
    width: 80px;
    margin: 60px auto;
}

/*                                                            
.project-hero {
    position: relative;
    height: auto;
    width: 100%;
}
span.project-hero-text {
    color: #ffffff;
}
.project-hero h1,
.projects3 h1 {
    color: #fff;
    font-weight: bold;
    width: 100%;
    line-height: normal;
}*/
.project-summary-grid {
    display: flex;
    justify-content: space-around;
    text-align: center;
}
.project-summary-item {
    width: 33%;
    margin: 0 6px;
}

.projects1,
.projects2,
.projects3 {
    height: auto;
    padding: 0px calc(25% - 88px);
}

.projects1 .container,
.projects2 .container,
.projects3 .container {
    text-align: left;
}
.projects2 {
    background: var(--tertiary-bg-color);
}

.projects3 {
    background: var(--primary-bg-color);
    color: #ffffff;
}
.projects1 .container h1,
.projects2 .container h1,
.projects3 .container h1,
.projects1 .container h3,
.projects2 .container h3,
.projects3 .container h3,
.splitscreen1 h3,
.splitscreen2 h3 {
    margin-top: 0;
}
.projects3 .container h3 {
    color: #ffffff;
}


.projects1 table {
    text-align: left;
    width: 480px;
    margin: 56px auto;
    line-height: 18px;
    font-size: 0.9em;
}
.projects1 tr {
    height: 46px;
}
.projects1 th,
.projects1 td {
    border-bottom: 1px solid #e1e1e1;
}
.projects1 img,
.projects1 video,
.projects2 img,
.projects2 video,
.projects3 img,
.projects3 video {
    width: 90%;
    margin: 60px auto;
    display: block;
}


.project-table {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: solid 1px #dddddd;
}

.project-table > span {
    flex: 2;
    font-size: 14px;
    line-height: 28px;
    opacity: 0.7;
}

.projects1 .inline-image-list,
.projects2 .inline-image-list {
    display: flex;
    align-items: center;
    flex: 1;
    margin-right: 24px;
}
.projects1 .inline-image-list p,
.projects2 .inline-image-list p {
    margin: 5px 0 4px 16px;
    font-weight: bold;
    line-height: 24px;
}

.projects1 .inline-image-list img,
.projects2 .inline-image-list img {
    margin: 0; 
    height: 40px; 
    width: 40px; 
    vertical-align: middle;
}

.quotes,.pullout-quotes {
    color: #57577C;
    opacity: 0.8;
    text-align: center;
}
.pullout-quotes {
    font-size: 24px;
    line-height: 36px;
    max-width: 736px;
    margin: 42px auto;
}
.quotes > ul {
    list-style: none;
    display: block;
    margin: 20px auto;
    padding: 0;
}
.quotes > ul > li {
    display: inline-block;
    margin: 0 20px;
    padding: 0;
    font-weight: bold;
}

ul.checklist {
    text-align: left;
    list-style: none;
}
ul.checklist > li {
    height: 46px;
    list-style-position: outside;
}
ul.checklist > li > p {
    margin: 0;
    display: inline-block;
    position: relative;
    vertical-align: middle;
    line-height: 28px;
}
ul.checklist > li::before {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    content: '';
    height: 0.75rem;
    width: 0.75rem;
    margin-right: 0.5rem;
    background-color: #bdbdbd;
}
ul.checklist > li.checkmark::before {
    height: 30px;
    width: 30px;
    background: url(../images/icon_checkmark.svg) center no-repeat;
}
ul.checklist > li.xmark::before {
    height: 30px;
    width: 30px;
    background: url(../images/icon_xmark.svg) center no-repeat;
}

ul.default-bullets,
ol.default-bullets {
    padding: 12px 40px;
}
ul.default-bullets > li,
ol.default-bullets > li {
    margin-bottom: 12px;
    font-size: 14px;
    line-height: 28px;
    opacity: 0.7;
}
ol.default-bullets {
    padding: 12px 12px;
    counter-reset: any-name;
    list-style: none;
}

ol.default-bullets > li:before {
    content: counter(any-name);
    height: auto;
    width: auto;
    line-height: 40px;
    margin-right: 20px;
    box-sizing: border-box;
    color: var(--primary-font-color);
    padding: 0px 10px;
    opacity: 0.6;
    font-size: 16px;
    font-weight: bold;
    border-right: solid 1px var(--primary-font-color);
}

ol.default-bullets > li {
    margin-bottom: 12px;
    counter-increment: any-name;
    display: flex;
    align-items: center;
}
.splitscreen1,
.splitscreen2 {
        position: relative;
        display: flex;
        box-sizing: border-box;
        padding: 120px 10%;
        height: auto;
        justify-content: space-between;
        background: #ffffff;
        align-items: center;
    }

.splitscreen1 .split-left,
.splitscreen2 .split-left,
.splitscreen1 .split-right,
.splitscreen2 .split-right {
    width: 100%;
    box-sizing: border-box;
    padding: 48px;
}

.splitscreen2 {
    background: var(--tertiary-bg-color);
}

.blurb
{
    max-width: 540px;
}

/*split screen*/
@media (max-width: 1200px){
   
       /*case studies*/
    .splitscreen2 ul.checklist {
        padding-left: 10px;
    }
    .splitscreen2 ul.checklist > li {
        height: 32px;
    }
    .splitscreen2 ul.checklist > li > p {
        max-width: 280px;
        font-size: 12px;
        line-height: 16px;
    }
    .hero-left-content {
        margin-left: 20%;
        padding-right: 60px;
    }
    .hero-right-content {
        margin-right: 20%;
    }
}
@media (max-width: 955px) { 
    
    
    ul.default-bullets, ol.default-bullets {
        padding: 0 24px;
    }

    /*----Home Page styles ---*/

    header {
        height: auto;
    }
    .hero {
        flex-direction: column;
    }
    .color-backdrop {
        display: none;
    }
    .hero-left {
        justify-content: center;
        max-width: 100%;
    }
    .hero-left-content {
        margin: 160px auto 0 auto;
        padding: 0px;
        max-width: 1120px;
        width: 56%;
    }

    .hero-right-content {
        margin: auto;
    }

    .photo-backdrop {
        height: 360px;
        width: 255px;
    }
    .hero-photo {
        height: 360px;
        width: 255px;
        background-size: 255px auto;
    }

    /*Projects ------*/
    .splitscreen1,
    .splitscreen2 {
        flex-direction: column;
        padding: 120px calc(25% - 88px);
    }
    .splitscreen1 .split-left,
    .splitscreen2 .split-left,
    .splitscreen1 .split-right,
    .splitscreen2 .split-right {
        width: 100%;
        padding: 44px;
    }
}
@media (min-width: 955px) {
 

    
}
@media (max-width: 768px) {
    .project-grid-item {
        width: auto;
    }
    .project-table {
        flex-direction: column;
        align-items: flex-start;
    }
    .project-table span {
        margin-top: 16px;
    }

}
@media (max-width: 600px) {
    .hero {
        height: auto;
    }
    .hero-left-content {
        margin: 60px auto 0 auto;
        padding: 40px;
        width: 100%;
    }
    .photo-backdrop {
        height: 255px;
        width: 255px;
    }
    .hero-photo {
        height: 255px;
        width: 255px;
        background-size: 255px auto;
    }
   
    .container {
        padding-right: 40px;
        padding-left: 40px;
    }
    .projects1,
    .projects2,
    .projects3 {
    height: auto;
    padding: 0px;
    }
    .projects .container {
        padding: 0px 40px;
    }
    .project-hero2 {
        height: 500px;
      }
    .project-hero2.hero-insights {
        background: url(../images/insights/hero-insights-mobile.png) center no-repeat;
        background-size: contain;
        background-color: #F9F9FB;
    }
    .project-hero2.hero-mapmeta {
        background: url(../images/mapmeta/hero-mapmeta-mobile.png) center no-repeat;
        background-size: contain;
        background-color: #F9F9FB;
    }
    .project-hero2.hero-chameleon {
        background: url(../images/chameleon/hero-chameleon-mobile.png) center no-repeat;
        background-size: contain;
        background-color: #F9F9FB;
    }
     .project-hero2.hero-voyat-branding {
        background-size: contain;
        background-size: 210%;
    }
    .navbar,
    .footer {
        width: 90%;
        min-width: 100px;
    }
    .footerright img {
    margin: 8px 0 0 14px;
    }
    .four.columns a,
    /*.four.columns p*/ {
    margin-bottom: 80px;
    }
   
    /*case studies*/
    ul.checklist {
        padding-left: 10px;
    }
    ul.checklist > li {
        height: 32px;
    }
    ul.checklist > li > p {
        max-width: 280px;
        font-size: 12px;
        line-height: 16px;
    }
    .projects1 table {
    text-align: left;
    width: 280px;
    margin: 56px auto;
    line-height: 18px;
    font-size: 0.9em;
    }
    .projects1 th, .projects1 td {
    font-size: 12px;
    width: 100px;
    text-align: left;
    padding: 0 0 0 20px;
    }
    
}